<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/dashboard.css" />
  </head>
  <body>
    <!-- sidebar -->
    <%- include('partials/sidebar') %>

    <main>
      <div class="dashboard-container">
        <h1><%= message %></h1>
        <div id="coupons-container" class="coupons-container"></div>
      </div>
    </main>
    <script type="module" src="../lib/coupons.js"></script>
  </body>
</html>
