<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/dashboard.css" />
  </head>
  <body>
    <!-- sidebar -->
    <%- include('partials/sidebar') %>

    <main class="main">
      <div class="dashboard-container">
        <h1>Reviews</h1>
        <div id="carousel-component" class="carousel-container"></div>
      </div>
    </main>
    <script type="module" src="../lib/feedback.js"></script>
  </body>
</html>
